.env
.git
vendor
node_modules
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*.php
storage/logs/*.log
tests
public/storage
*.md
*.pem
*.ps1
public/build
bootstrap/cache/packages.php
bootstrap/cache/config.php
