<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzpxzxdM0Ckui_QFn-w4Aic-reXlf4fqY</string>
	<key>GCM_SENDER_ID</key>
	<string>449305523093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sbku.sbkuapp</string>
	<key>PROJECT_ID</key>
	<string>sbkuapp-1e977</string>
	<key>STORAGE_BUCKET</key>
	<string>sbkuapp-1e977.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449305523093:ios:b7ecafc21bf0f5b420fc9c</string>
</dict>
</plist>